spaces
numpy==1.26.0
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
Requests==2.32.3
segment_anything==1.0
torchvision==0.20.1
webcolors==24.11.1
--extra-index-url https://download.pytorch.org/whl/cu113
torch